.title{
    background-color: beige;
    align-items: center;
    display: flex;
    padding: 5px;
    position:sticky;
    top: 0;
}
.a{
    font-weight: 400;
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left:650px ;
    margin-top: -650px;
}
.b{
    font-weight: 1000;
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 550px;
    color: rgb(88, 16, 16);
}
.c{
    font-weight: 800;
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 550px;
}

.home{
    padding: 100px;
    margin-bottom: 270px;
}
.hall{
   margin-top:-100px;
   padding-bottom: 200px;
}
.hello{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;
    
}
.name{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 320px;
}
 .abt{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(254, 190, 169);
    width: 600px;
    height: 330px;
    align-content: center;
    border-radius:.5cm;
    margin-left: 250px;
    padding: 90px;
    line-height:1cm;
    padding-top:0px;
 }
 .me{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 450px;
    display: flex;
    margin-top: -350px;
    font-size: xx-large;
    padding:-20px;
}
.ph{
    margin-left:700px;
 }
.skills{
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    background-color:rgb(255, 255, 255);
    align-content: center;
    width:1200px;
    height: 1000px;
    padding-left: 40px;
}
.all1{

    display: grid;
    display: flex;
    align-items:center ;
    padding:50px;
}
.all2{

    display: grid;
    display: flex;
    align-items:center ;
    padding:50px;
}
.s1{
    margin-bottom: 0.65cm;
    margin-left: 4.5cm;
    padding:12px;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(197, 232, 253);
    border-radius: 0.5cm;
    width: 300px;
    height: 300px;
     border: 3px solid black; 
}
.s2{
    margin-bottom: 0.75cm;
    margin-left: 4.5cm;
    padding: 12px;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(197, 232, 253);
    border-radius: 0.5cm;
    border-width: 1cm;
    width: 300px;
    height: 300px;
     border: 3px solid black; 
}
.s3{
     margin-left: 4.5cm;
    padding: 12px;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(197, 232, 253);
    border-radius: 0.5cm;
    border-width: 1cm;
     width: 300px;
    height: 300px;
     border: 3px solid black; 
}.s4{
     margin-left:4.5cm;
    padding: 12px;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(197, 232, 253);
    border-radius: 0.5cm;
    border-width: 1cm;
     width: 300px;
    height: 300px; border: 3px solid black; 
}
.one{
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}.two{
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     display: flex;
    flex-direction: column;
}.three{
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     display: flex;
    flex-direction: column;
}.four{
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     display: flex;
    flex-direction: column;
}.contact{
    margin-top: 3cm;
    margin-bottom: 5cm;
    padding:-5px;
}
.con1{
    width:320px;
    height:50px;
    margin-left:230px;
    margin-top:40px;
    border-radius:40px;
    color:dodgerblue;
    background-color:whitesmoke;
    border-width: 1.5px;
    border-style: double;
}
.con2{
    width:250px;
    height:50px;
    margin-left:150px;
    margin-top:40px;
    border-radius:40px;
    color:dodgerblue;
    background-color:whitesmoke;
    border:none;
}
.con3{
    width:250px;
    height:50px;
    margin-left:500px;
    margin-top:40px;
    border-radius:40px;
    background-color:whitesmoke;
    color:dodgerblue;
    border:none;
    font-size: medium;
}
.con1:hover{
        background-color: rgb(192, 251, 183);
        transform: translateY(-10px);
        transition: 1s;
}
.con2:hover{
        background-color:rgb(192,251,183);
        transform: translateY(-10px);
        transition: 1s;
}
.con3:hover{
        background-color:rgb(192,251,183);
        transform: translateY(-10px);
        transition: 1s;
}